.my-album {
    height: 100%;

    .my-album-toolbar{
        height: 48px;
        background: white;
    }

    // -----------------------------------
    .my-list-card-item {

        .ant-card {
            width: 150px;
            border-radius: 0px;

            .ant-card-cover img {
                border-radius: 0px;
            }

            .ant-card-body {
                padding: 8px 6px 6px 6px;

                .ant-card-meta-title {
                    margin: 0px;
                    font-size: 14px;
                    font-weight: 600;
                }

                .ant-card-meta-description {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    // ----------------------------------------
    .my-list-normal-item {
        height: 80px;

        .ant-list-item-meta-avatar {
            width: 100%;
            height: 100%;
            //box-sizing: content-box;
        }
    }



}