.my-album-card {
    width: 280px;
    height: 80px;

    .ant-card-body {
        padding: 0px;
        //display: inline;
        white-space: nowrap;
        font-size: 14px;

        .ant-image {
            width: 80px;
            border-radius: 8px;
        }

        .my-album-card-info {
            padding: 8px;
            display: inline-flex;
            height: 100%;
            flex-wrap: wrap;
            align-content: space-around;
            //vertical-align: middle;


            .my-album-card-info-name {
                display: flex;
                width: 100%;
            }

            .my-album-card-info-artists {
                display: flex;
                width: 100%;
            }
        }
    }
}