.my-album-card.ant-card {
    width: 160px;
    height: 220px;
    border-radius: 0px;

    .ant-card-cover {
        margin: 0px;
        margin-inline: 0px;

        img {
            border-radius: 0px;
        }
    }


    .ant-card-body {
        padding: 6px;
        white-space: nowrap;

        .my-album-card-name {
            overflow: hidden;
            text-overflow: ellipsis;

        }

        .my-album-card-artists {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

}