.my-album-panel {
    height: 100%;

    .my-album-panel-toolbar {
        white-space: nowrap;
        background: rgb(28, 28, 28);
        margin-bottom: 8px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > *{
            margin: 0 4px;
        }

    }

    .ant-list {
        height: calc(100% - 36px);
        width: auto;
        overflow: hidden auto;

        .ant-list-item:hover{
            color: rgba(255, 255, 255,0.85);
            background-color: rgba(255, 255, 255, 0.12);
        }
    }

    .ant-segmented .anticon{
        font-size: 16px;
    }

}