.my-album-card {
    width: 280px;
    height: 80px;

    .ant-card-body {
        padding: 0px;
        display: flex;
        white-space: nowrap;
        font-size: 14px;

        .ant-image .ant-image-img {
            width: 80px;
            border-radius: 8px;
        }

        .my-album-card-info {
            padding: 8px;
            height: 78px;
            width: 199px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;

            .my-album-card-info-name {
                overflow: hidden;

            }

            .my-album-card-info-artists {
                overflow: hidden;

            }

            a {
                color: white;
            }
        }
    }
}