.my-album-panel {
    height: 100%;

    .my-album-panel-toolbar {
        white-space: nowrap;
        background: rgb(28, 28, 28);
        margin-bottom: 8px;
        display: flex;
        flex-direction: row-reverse;

    }

    .ant-list {
        height: calc(100% - 36px);
        width: auto;
        overflow: hidden auto;
    }

}