.ant-tabs{
    height: 100%;
    padding: 0px 8px 0px 8px;
    background: rgb(28, 28, 28);

    .ant-tabs-tab{
        padding: 8px 0px 8px 0px;
        
         .anticon{
            margin-right: 8px;
        }

    }
}