.ant-card {
    width: 150px;
    border-radius: 0px;

    .ant-card-cover img {
        border-radius: 0px;
    }

    .ant-card-body {
        padding: 8px 6px 6px 6px;

        .ant-card-meta-detail {
            .ant-card-meta-title {
                margin: 0px;
                margin-bottom: 0px;
                font-size: 14px;
                font-weight: 600;
            }

            .ant-card-meta-description {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}