.my-app {
    height: 100%;
    display: flex;
    flex-flow: column;
    

    .my-layout-content{
        background: hsl(193, 100%, 75%);
        height: 100%;
    }

    .my-layout-footer{
        background: hsl(193, 100%, 66%);
        height: 72px;
        
    }

}