.my-app {
    display: flex;
    height: 100%;
    flex-flow: column;
    

    .my-layout-content{
        background: hsl(193, 100%, 75%);
        flex-grow: 1;
    }

    .my-layout-footer{
        background: hsl(193, 100%, 66%);
        height: 72px;
        
    }

}